
  <div class="content" style="width:95%;padding-left:20px;">  
      <div class="box box-info">  
        <div class="box-header with-border">  
          <h3><!--Adding Expense for{{employeeInfo.EmpName}} {{employeeInfo.MiddleName}} {{employeeInfo.LastName}} --> </h3>  
        </div>  
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="card-body" ngModelGroup="expenseData" #expenseData="ngModelGroup"> 
            <!-- *ngIf="employeeInfo['EmpStatus'] === 'Active'"> -->
            <div class="row" style="margin-top:20px;">
              
            </div> 
            <div class="row">  
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Expense Type:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend"> 
                        <p-dropdown [options]="expenseType" ngModel name="selectExpenseType" optionLabel="name" placeholder="Select Expense" required selectExpenseType #selectExpenseType="ngModel"></p-dropdown> 
                    </div>
                    <div *ngIf="!expenseType.valid && expenseType.touched"
                        style="text-align: left;font-size:0.8rem;color:red;padding:20px">
                        Select Expense Type
                    </div>  
                  </div>  
                </div>  
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Upload (Reciept):</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                    </div>  
                    <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000"  [auto]="true" chooseLabel="Browse"></p-fileUpload>
                  </div>  
                </div>  
              </div>           
            </div>
            <div class="row">  
                <div class="col-sm-6 col-md-6 col-xs-12">  
                  <div class="form-group">  
                    <label>Project:</label>  
                    <div class="input-group">  
                      <div class="input-group-prepend"> 
                        <p-dropdown [options]="allProjectList" optionLabel="ProjectTitle" ngModel name="selectAssignment" selectAssignment #selectAssignment="ngModel" required placeholder="Select a Project" (click)="subProjects()"></p-dropdown>
                      </div> 
                    </div>  
                  </div>  
                </div>  
                <div class="col-sm-6 col-md-6 col-xs-12">  
                  <div class="form-group"  [ngClass]="isActive?'show':'noshow'">  
                      <label >Sub Project</label>                    
                    <div class="input-group">  
                      <div class="input-group-prepend"> 
                        <p-dropdown [options]="subProjectList" optionLabel="SubProjectTitle" ngModel name="selectSubProject" selectSubProject #selectSubProject="ngModel" required placeholder="Select" ></p-dropdown>
                      </div>  
                      <div>
                    </div>
                    </div>  
                  </div>  
                </div>  
              </div>  
            <div class="row">  
                <div class="col-sm-6 col-md-6 col-xs-12">  
                  <div class="form-group">  
                    <label>Expense Date:</label> 
                    <div class="input-group">  
                      <div class="input-group-prepend">  
                        <span class="input-group-text">  
                          <i class="fa fa-calendar"></i>  
                        </span>
                        <p-calendar inputId="basic" ngModel name="expenseDate" expenseDate #expenseDate="ngModel" ></p-calendar>
                      </div>  
                      
                    </div>
                                      
                  </div>  
                </div>  
                <div class="col-sm-6 col-md-6 col-xs-6">  
                  <div class="form-group">  
                    <label>Location:</label> 
                    <div class="input-group">  
                      <div class="input-group-prepend">  
                        <input type="text" pInputText ngModel name="expLocation" expLocation #expLocation="ngModel" /> 
                      </div>                    
                    </div>             
                  </div> 
                </div>  
            </div>  
            <div class="row">  
                  <div class="col-sm-6 col-md-6 col-xs-12">  
                    <div class="form-group">  
                      <label>Amount:</label>  
                      <div class="input-group">  
                        <div class="input-group-prepend">  
                        </div>  
                        <p-inputNumber ngModel name="expensesValue" expensesValue #expensesValue="ngModel"  mode="decimal"  required></p-inputNumber>
                      </div>  
                    </div>  
                  </div>  
                  <div class="col-sm-6 col-md-6 col-xs-6">  
                    <div class="form-group">  
                      <label>Tax (if applicable):</label>  
                      <div class="input-group">  
                        <div class="input-group-prepend">
                        </div>  
                        <p-inputNumber ngModel name="expensesTax" expensesTax #expensesTax="ngModel" mode="decimal"></p-inputNumber>
                      </div>  
                    </div>  
                  </div>  
                </div>
                
                <div class="row">
                  <button type="submit"  pButton label="Save"></button> 
                  <span  class="fa-fw" style="padding-left: 20px;"></span>
                  <a  [routerLink]="['/view']"> <button type="button"  pButton label="Cancel"></button> </a>
                </div>  
                
          </div> 
        </form>
      </div>  
  </div> 