<div class="container py-5">
    <h3>Personal Expenses List</h3>
    <p-table [value]=personalExpenseList >
        <ng-template pTemplate="header" >
            <tr>
                <th>Expense Type</th>
                <th>Project</th>
                <th>SubProject</th>
                <th>Tota Expenses</th>
                <th>Expense Date</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData  >
            <tr >
                <td>{{rowData['ExpenseId']}}</td>
                <td>{{rowData['ProjectCode']}}</td>
                <td>{{rowData['SubProjectId']}}</td>
                <td>{{rowData['AmountRequested']}}</td>
                <td>{{rowData['ExpenseDate']}}</td>
                <td>{{rowData['Status']}}</td>                
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" >
            <div style="text-align:right">
                <a class="nav-link" href=""> <button type="button" pButton icon="pi pi-plus" label="Add New Expense"></button></a>
            </div>
        </ng-template>
    </p-table>
    </div>
