<div class="content">
<h3>Admin View of Expenses List</h3>
<div>
    <p-tabView >
        <p-tabPanel  header="Pending">
            <p-table [value]=allExpenseList  selectionMode="single" (onRowSelect)="onSelectExpense($event)">
                <ng-template pTemplate="header"  >
                    <tr>
                        <th>Expense Type</th>
                        <th>Project</th>
                        <th>SubProject</th>
                        <th>Total Expenses</th>
                        <th>Expense Date</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                
                    <ng-template pTemplate="body" let-rowData  >
                        <tr *ngIf="rowData.Status === 'Submitted'">
                            <td>{{rowData['ExpenseId']}}</td>
                            <td>{{rowData['ProjectCode']}}</td>
                            <td>{{rowData['SubProjectId']}}</td>
                            <td>{{rowData['AmountRequested']}}</td>
                            <td>{{rowData['ExpenseDate']}}</td>
                            <td>{{rowData['Status']}}</td> 
                            <span class="fa fa-edit" (click)="onSelectExpense(rowData['_id'])" style="padding-top: 20px; cursor: pointer;"></span>
                        </tr>
                    </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel  header="Approved">
            <p-table [value]=allExpenseList >
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th>Expense Type</th>
                        <th>Project</th>
                        <th>SubProject</th>
                        <th>Total Expenses</th>
                        <th>Approved Expenses</th>
                        <th>Expense Date</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                
                    <ng-template pTemplate="body" let-rowData  >
                        <tr *ngIf="rowData.Status === 'Approved' || rowData.Status === 'PartiallyApproved'">
                            <td>{{rowData['ExpenseId']}}</td>
                            <td>{{rowData['ProjectCode']}}</td>
                            <td>{{rowData['SubProjectId']}}</td>
                            <td>{{rowData['AmountRequested']}}</td>
                            <td>{{rowData['AmountApproved']}}</td>
                            <td>{{rowData['ExpenseDate']}}</td>
                            <td>{{rowData['Status']}}</td>                
                        </tr>
                             
                    </ng-template>
            </p-table>
        </p-tabPanel>
        
        <p-tabPanel  header="Rejected">
            <p-table [value]=allExpenseList selectionMode="single" >
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th>Expense Type</th>
                        <th>Project</th>
                        <th>SubProject</th>
                        <th>Total Expenses</th>
                        <th>Expense Date</th>
                        <th>Rejected Reason</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                
                    <ng-template pTemplate="body" let-rowData let-columns="columns" >
                        <tr *ngIf="rowData.Status === 'Rejected'" [pSelectableRow]="rowData">
                            <td>{{rowData['ExpenseId']}}</td>
                            <td>{{rowData['ProjectCode']}}</td>
                            <td>{{rowData['SubProjectId']}}</td>
                            <td>{{rowData['AmountRequested']}}</td>
                            <td>{{rowData['ExpenseDate']}}</td>
                            <td>{{rowData['ApprovalRemarks']}}</td>
                            <td>{{rowData['Status']}}</td>                             
                        </tr> 
                    </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>


<p-dialog header="Expense Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [style]="{'width':'600px'}">
    <div class="ui-g ui-fluid" *ngIf="expenseDetails" style="padding:20px">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12"> Employee Name: </div>
            <div class="col-sm-6 col-md-6 col-xs-12"> {{employeeDetails.EmpName}} {{employeeDetails.LastName}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Employee ID: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{expenseDetails.EmployeeId}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Type of Expense: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{expenseDetails.ExpenseId}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Expense Date: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{expenseDetails.ExpenseDate}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Project Name: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{expenseDetails.ProjectCode}}</div></div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">SubProject Name: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{expenseDetails.SubProjectId}}</div></div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Total Expenses: </div>
            <div class="col-sm-6 col-md-6 col-xs-12" id="expenseAmount" name="expenseAmount" >{{expenseDetails.AmountRequested}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Approved Expenses: </div>
            <div class="col-sm-6 col-md-6 col-xs-12"><input pInputText type="number" [(ngModel)]="amountApproved" (keyup)="approvedExpense()" 
            value="{{expenseDetails.AmountRequested}}"/></div>
        </div>

        <div class="row" [ngClass]="isActive?'show':'noshow'" id="rejectReason" >
            <div class="col-sm-6 col-md-6 col-xs-12">Reason </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <textarea rows="4" cols="40" [(ngModel)]="approvalRemarks" ></textarea>                
            </div>
           <label style="padding-left: 20px; float: right;" [ngClass]="isRejectActive?'show':'noshow'"> <a style="cursor: pointer;" (click)="rejectExpenseWithReason()" >Reject </a></label>
        </div>


        <div class="row" >
            <div class="col-sm-6 col-md-6 col-xs-12">Reciept: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                    <img src="assets/images/Receipt.jpg" alt="Receipt" (click)="viewFullImage()" style="width:50px; height: 50px;">
            </div>
        </div>

    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="approveEmployeeExpense()"  label="Approve"></button>
            <button type="button" pButton icon="pi pi-times" (click)="rejectExpense()" label="Reject"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="Employee Detailed Reciept" [(visible)]="displayImageDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [style]="{'width':'400px'}">
    <div class="ui-g-4">
        <img src="assets/images/Receipt.jpg" alt="Receipt View" />
    </div>
</p-dialog>

