<div class="container py-5">
<h3>Admin View of Expenses List</h3>
<div>
    <p-tabView >
        <p-tabPanel  header="Approved">
            <p-table [value]=expenseList [columns]="cols" selectionMode="single" (onRowSelect)="onSelectExpense($event)">
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th *ngFor="let column of cols">
                            {{column.header}}
                        </th>
                    </tr>
                </ng-template>
                
                    <ng-template pTemplate="body" let-rowData let-columns="columns" >
                            <tr *ngIf="rowData.Status === 'Approved'">
                                <td *ngFor="let column of cols" >
                                    {{rowData[column.field]}}
                                </td>
                            </tr> 
                    </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel  header="Pending">
            <p-table [value]=expenseList [columns]="cols" selectionMode="single" (onRowSelect)="onSelectExpense($event)">
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th *ngFor="let column of cols">
                            {{column.header}}
                        </th>
                    </tr>
                </ng-template>
                
                    <ng-template pTemplate="body" let-rowData let-columns="columns" >
                        <tr *ngIf="rowData.Status === 'Pending'" [pSelectableRow]="rowData">
                            <td *ngFor="let column of cols">
                                {{rowData[column.field]}}
                            </td>
                            
                        </tr> 
                        
                        
                    </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel  header="Rejected">
            <p-table [value]=expenseList [columns]="cols" selectionMode="single" (onRowSelect)="onSelectExpense($event)">
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th *ngFor="let column of cols">
                            {{column.header}}
                        </th>
                    </tr>
                </ng-template>
                
                    <ng-template pTemplate="body" let-rowData let-columns="columns" >
                        <tr *ngIf="rowData.Status === 'Rejected'" [pSelectableRow]="rowData">
                            <td *ngFor="let column of cols">
                                {{rowData[column.field]}}
                            </td>
                            
                        </tr> 
                        
                        
                    </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>


<p-dialog header="Expense Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [style]="{'width':'600px'}">
    <div class="ui-g ui-fluid" *ngIf="expenseDetails">
        <div class="ui-g-4"><label for="firstName">First Name: </label>
            <label style="padding-left: 20px;" >{{expenseDetails.firstName}}</label></div>

        <div class="ui-g-4"><label for="lastName">Last Name: </label>
            <label style="padding-left: 20px;" >{{expenseDetails.lastName}}</label></div>

        <div class="ui-g-4"><label for="EmpNo">Employee ID: </label>
            <label style="padding-left: 20px;" >{{expenseDetails.EmpNo}}</label></div>

        <div class="ui-g-4"><label for="expenseType">Type of Expense: </label>
            <label style="padding-left: 20px;" >{{expenseDetails.expenseType}}</label></div>

        <div class="ui-g-4"><label for="date1">From Date: </label>
            <label style="padding-left: 20px;" >{{expenseDetails.date1}}</label></div>

        <div class="ui-g-4"><label for="date2">To Date: </label>
            <label style="padding-left: 20px;" >{{expenseDetails.date2}}</label></div>

        <div class="ui-g-4"><label for="project">Project Name: </label>
            <label style="padding-left: 20px;" >{{expenseDetails.project}}</label></div>

        <div class="ui-g-4"><label for="amount">Total Expenses: </label>
            <label style="padding-left: 20px;" id="expenseAmount" name="expenseAmount" >{{expenseDetails.amount}}</label></div>

        <div class="ui-g-4"><label for="amount">Approved Expenses: </label>
            <p-inputNumber mode="decimal" [ngModel]="expenseDetails.amount" id="approvedAmount" name="approvedAmount">

            </p-inputNumber>
        </div>
        <div class="ui-g-4" [ngClass]="isActive?'show':'noshow'" id="rejectReason"  style="padding-top: 20px;">
            <span class="p-float-label">
                <textarea id="float-input" rows="4" cols="40" pInputTextarea></textarea>
                <label for="float-input">Reason </label>
            </span>
        </div>


        <div class="ui-g-4" ><label for="amount">Reciept: </label>
                <label style="padding-left: 20px;" >
                    <img src="assets/images/Receipt.jpg" alt="Receipt" (click)="viewFullImage()" style="width:50px; height: 50px;">
                </label>
        </div>

    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="approveExpense()"  label="Approve"></button>
            <button type="button" pButton icon="pi pi-times" (click)="rejectExpense()" label="Reject"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="Employee Detailed Reciept" [(visible)]="displayImageDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [style]="{'width':'400px'}">
    <div class="ui-g-4">
        <img src="assets/images/Receipt.jpg" alt="Receipt View" />
    </div>
</p-dialog>

